/target/
**/*.rs.bk
pam/Cargo.lock
fs_quota/Cargo.lock
fs_quota/src/rquota.h
fs_quota/src/rquota_xdr.c
src/webdav-server.toml
debian/.debhelper
debian/*-stamp
debian/*.debhelper
debian/*.substvars
debian/*.log
debian/files
debian/*/
!*/debian/source
