Source: webdav-server-rs
Section: net
Priority: extra
Maintainer: Miquel van Smoorenburg <mike@langeraar.net>
Uploaders: XS4ALL Unixbeheer <unixbeheer@xs4all.net>, Miquel van Smoorenburg (XS4ALL) <mikevs@xs4all.net>
Build-Depends: debhelper (>= 9), dh-systemd, gcc, libc-dev, libc-dev-bin, libpam0g-dev
Standards-Version: 3.9.1

Package: webdav-server-rs
Architecture: any
Depends: ${shlibs:Depends}, systemd
Description: Webdav server
