#! /usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	@if ! command -v cargo >/dev/null; then \
		echo "Rust is not installed ("cargo" command not found)" >&2; \
		exit 1; fi
	cargo +nightly build --release

override_dh_auto_clean:

override_dh_systemd_enable:

override_dh_systemd_install:

override_dh_installinit:
	dh_installinit --name webdav-server
	dh_systemd_enable --name webdav-server
	dh_systemd_start

